In [1]:
import json
import requests

In [2]:
response = requests.get('https://jsonplaceholder.typicode.com/todos')
results = response.json()

In [3]:
response.status_code

200

In [4]:
import pandas as pd

In [5]:
data = pd.DataFrame(results)
data.head(10)

   userId  id                                              title  completed
0       1   1                                 delectus aut autem      False
1       1   2                 quis ut nam facilis et officia qui      False
2       1   3                                fugiat veniam minus      False
3       1   4                                   et porro tempora       True
4       1   5  laboriosam mollitia et enim quasi adipisci qui...      False
5       1   6  qui ullam ratione quibusdam voluptatem quia omnis      False
6       1   7                  illo expedita consequatur quia in      False
7       1   8                       quo adipisci enim quam ut ab       True
8       1   9                        molestiae perspiciatis ipsa      False
9       1  10       illo est ratione doloremque quia maiores aut       True

In [ ]:
response = requests.get('https://api.thedogapi.com/v1/images/search?limit=5')
results = response.json()