In [23]:
import pandas as pd
import random
import statistics

In [2]:
data = pd.read_csv(r'./Module2_Use_Case_2 - Sheet1.csv')

In [3]:
data

      ID  Salary Gender_cat
0      1    3326       Male
1      4    7328       Male
2      9    5751       Male
3     11    6702       Male
4     15    7631       Male
..   ...     ...        ...
685  681    2782     Female
686  682    4722     Female
687  683    4769     Female
688  685    9831     Female
689  687    9925     Female

[690 rows x 3 columns]

In [5]:
data[['Gender_cat']].value_counts()

Gender_cat
Male          349
Female        341
dtype: int64

In [9]:
print("male:")
print(69*349/690)
print("female:")
print(69*341/690)

male:
34.9
female:
34.1

In [35]:
male_sample = data['Salary'].loc[data['Gender_cat'] == 'Male'].sample(35)
female_sample = data['Salary'].loc[data['Gender_cat'] == 'Female'].sample(34)

In [36]:
statistics.mean(male_sample)

5949.885714285714

In [37]:
statistics.mean(female_sample)

6292.617647058823

In [38]:
statistics.median(male_sample)

6259

In [39]:
statistics.median(female_sample)

7018.0

In [40]:
statistics.mode(male_sample)

7716

In [41]:
statistics.mode(female_sample)

5932