In [59]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [60]:
iris = pd.read_csv(r'./iris-data.csv')

In [61]:
iris

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,2.3,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [62]:
iris.isna().sum()

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     5
class              0
dtype: int64

In [63]:
iris['petal_width_cm'] = round(iris['petal_width_cm'].interpolate(), 1)

In [64]:
iris.isna().sum()

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     0
class              0
dtype: int64

In [65]:
iris.dtypes

sepal_length_cm    float64
sepal_width_cm     float64
petal_length_cm    float64
petal_width_cm     float64
class               object
dtype: object

In [66]:
iris.describe()

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count       150.000000      150.000000       150.000000      150.000000
mean          5.644627        3.054667         3.758667        1.202000
std           1.312781        0.433123         1.764420        0.765486
min           0.055000        2.000000         1.000000        0.100000
25%           5.100000        2.800000         1.600000        0.300000
50%           5.700000        3.000000         4.350000        1.300000
75%           6.400000        3.300000         5.100000        1.800000
max           7.900000        4.400000         6.900000        2.500000

In [67]:
iris.drop_duplicates(inplace=True)

In [68]:
iris['class'].value_counts()

Iris-virginica     49
Iris-setosa        48
Iris-versicolor    45
versicolor          5
Iris-setossa        1
Name: class, dtype: int64

In [69]:
iris.loc[(iris['class'] == 'versicolor'), 'class'] = 'Iris-versicolor'
iris.loc[(iris['class'] == 'Iris-setossa'), 'class'] = 'Iris-setosa'

In [70]:
iris['class'].value_counts()

Iris-versicolor    50
Iris-setosa        49
Iris-virginica     49
Name: class, dtype: int64

In [71]:
label_enc = LabelEncoder()

iris['class'] = label_enc.fit_transform(iris['class'])

In [72]:
iris.head()

   sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm  class
0              5.1             3.5              1.4             0.2      0
1              4.9             3.0              1.4             0.2      0
2              4.7             3.2              1.3             0.2      0
3              4.6             3.1              1.5             0.2      0
4              5.0             3.6              1.4             0.2      0

In [76]:
iris['class'].unique()

array([0, 1, 2])

In [74]:
iris.describe()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
count,148.000000,148.000000,148.000000,148.000000,148.000000
mean,5.648608,3.056757,3.764865,1.204730,1.000000
std,1.320186,0.435056,1.763109,0.763124,0.816497
min,0.055000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.700000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [77]:
iris.to_csv('./clean-iris.csv')