<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-3" data-toc-modified-id="Challenge-3-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 3</a></span><ul class="toc-item"><li><span><a href="#Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?" data-toc-modified-id="Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Q1: How to identify VIP &amp; Preferred Customers?</a></span></li><li><span><a href="#How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>How to label customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?" data-toc-modified-id="Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?-1.2.0.1"><span class="toc-item-num">1.2.0.1&nbsp;&nbsp;</span>Sub Problem 1: How to aggregate the  <code>amount_spent</code> for unique customers?</a></span></li><li><span><a href="#Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2.0.2"><span class="toc-item-num">1.2.0.2&nbsp;&nbsp;</span>Sub Problem 2: How to select customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span></li><li><span><a href="#Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?" data-toc-modified-id="Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?-1.2.0.3"><span class="toc-item-num">1.2.0.3&nbsp;&nbsp;</span>Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?</a></span></li></ul></li></ul></li><li><span><a href="#Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?" data-toc-modified-id="Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Q2: How to identify which country has the most VIP Customers?</a></span></li><li><span><a href="#Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?" data-toc-modified-id="Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Q3: How to identify which country has the most VIP+Preferred Customers combined?</a></span></li></ul></li></ul></div>

# Challenge 3

In this challenge we will work on the `Orders` data set (https://drive.google.com/file/d/1xUzMpyQgC5IaK61ehUH2C5P4jCPmLa-s/view?usp=sharing). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Data Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [6]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [16]:
orders = pd.read_csv('../../../data/Orders.csv', index_col='Unnamed: 0')

In [17]:
orders.head()

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [26]:
orders.shape

(397924, 13)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [24]:
agg_cust = orders.groupby('CustomerID')[['amount_spent']].sum()
agg_cust.head()

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40

In [32]:
agg_cust.describe()

        amount_spent
count    4339.000000
mean     2053.793018
std      8988.248381
min         0.000000
25%       307.245000
50%       674.450000
75%      1661.640000
max    280206.020000

In [107]:
agg_cust.loc[agg_cust['amount_spent'] >= np.quantile(agg_cust['amount_spent'], 0.95)]

            amount_spent
CustomerID
12346           77183.60
12357            6207.67
12359            6372.58
12409           11072.67
12415          124914.53
...                  ...
18109            8052.97
18139            8438.34
18172            7561.68
18223            6484.54
18229            7276.90

[217 rows x 1 columns]

In [108]:
vip_list = agg_cust.loc[agg_cust['amount_spent'] >= np.quantile(agg_cust['amount_spent'], 0.95)].index.values.tolist()
vip_list[:10]

[12346, 12357, 12359, 12409, 12415, 12428, 12431, 12433, 12435, 12451]

In [109]:
orders["VIP"] = np.where(orders["CustomerID"].isin(vip_list), 1, 0)

In [112]:
agg_cust.loc[(agg_cust['amount_spent'] < np.quantile(agg_cust['amount_spent'], 0.95)) & 
        (agg_cust['amount_spent'] >= np.quantile(agg_cust['amount_spent'], 0.75))]

            amount_spent
CustomerID
12347            4310.00
12348            1797.24
12349            1757.55
12352            2506.04
12356            2811.43
...                  ...
18259            2338.60
18260            2643.20
18272            3078.58
18283            2094.88
18287            1837.28

[868 rows x 1 columns]

In [113]:
pref_list = agg_cust.loc[(agg_cust['amount_spent'] < np.quantile(agg_cust['amount_spent'], 0.95)) & 
        (agg_cust['amount_spent'] >= np.quantile(agg_cust['amount_spent'], 0.75))].index.values.tolist()
pref_list[:10]

[12347, 12348, 12349, 12352, 12356, 12360, 12362, 12370, 12371, 12378]

In [114]:
orders["Preffered"] = np.where(orders["CustomerID"].isin(pref_list), 1, 0)

In [119]:
orders.sample(5)

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,VIP,Preffered
362630,568513,22086,2011,9,2,12,paper chain kit 50's christmas,40,2011-09-27 12:36:00,2.55,13555,United Kingdom,102.00,0,1
148357,549235,22557,2011,4,4,11,plasters in tin vintage paisley,3,2011-04-07 11:16:00,1.65,15530,United Kingdom,4.95,0,0
52511,540798,20969,2011,1,2,12,red floral feltcraft shoulder bag,6,2011-01-11 12:11:00,3.75,17365,United Kingdom,22.50,0,1
340976,566727,84947,2011,9,3,13,antique silver tea glass engraved,216,2011-09-14 13:12:00,1.06,17347,United Kingdom,228.96,0,0
293836,562621,85099B,2011,8,1,12,jumbo bag red retrospot,10,2011-08-08 12:36:00,2.08,14415,United Kingdom,20.80,1,0

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [110]:
agg_country = orders.groupby('Country')[['VIP']].sum()
agg_country.sort_values(by=['VIP'], ascending=False)[:1]

                  VIP
Country
United Kingdom  84185

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [124]:
agg_country = orders.groupby('Country')[['VIP', 'Preffered']].sum()
agg_country['Total'] = agg_country['VIP'] + agg_country['Preffered']
agg_country.sort_values(by=['Total'], ascending=False)[:1]

                  VIP  Preffered   Total
Country
United Kingdom  84185     137450  221635